* {
    font-family: 'Roboto';
}

.main {
    padding: 3rem;
    width:80%;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap:wrap;
    margin: auto;
}

#priority, #normal {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

#addCommonNote, #addPriorNote {
    order:-500;
    box-shadow: 1px 2px 7px 1px #aaa
}

.applyButton {
    position:absolute;
    margin-left: -19px;
    margin-top: -19px;
    visibility:hidden;
    z-index:1;
}

.applyButton img{
    width:2.5rem;
    height:2.5rem;
}

textarea {
    resize: none;
    overflow: hidden;
}

.header {
    font-size:2rem;
    font-weight: bold;
    outline: none;
    border:0px;
    width:100%;
    background-color: transparent;
    max-height: 10rem;
    min-height:74px;
}

.text {
    width:100%;
    outline: none;
    border:0px;
    background-color: transparent;
    height:7rem;
    font-size:1rem;
    max-height: 15rem;
    min-height:10px;
}

.notes {
    display:flex;
    flex-direction:column;
    border-radius: 1px;
    min-height:16rem;
    width:16rem;
    box-shadow: 1px 1px 2px #aaa;
    margin:1rem;
}

.image {
    position: relative;
    width:100%;
    overflow:hidden;
    background-size: contain;
}

.groupHeader {
    margin:1rem;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom:0.5rem;
}

.contentOverlay {
    display:flex;
    flex-direction: column;
    padding:1.5rem;
    padding-bottom:0.5rem;
}

.actions {
    visibility:hidden;
    margin-top: auto;
    margin-right:4px;
    align-self: flex-end;
}

.editButton img {
    min-height:2rem;
    max-height:2rem;
}

.addButton img {
    min-height:2rem;
    max-height:2rem;
}

.addImage {
    display:flex; 
    flex-direction:column;
    position:relative;
}

.addImageButton img {
    min-height:2rem;
    max-height:2rem;
}

.addImagePopupDiv {
    z-index: 5;
    display:flex;
    border-radius: 3px;
    position: absolute;
    visibility: hidden;
    min-width: 182px;
    background:white;
    left:50%;
    top:-25%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 2px 7px 1px #aaa;
}

.addImagePopupDiv img {
    box-shadow: 0px 4px 10px 2px #aaa;
    max-height: 20px;
    min-height: 20px;
}

.PopupApply {
    box-shadow: 0px 4px 10px 2px #aaa;
    max-height: 20px;
    min-height: 20px;
}

.addImageSrcPopup::-webkit-input-placeholder {
    text-align: center;
 }
 
 .addImageSrcPopup:-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 .addImageSrcPopup::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 .addImageSrcPopup:-ms-input-placeholder {  
    text-align: center; 
 }

.addImageSrcPopup {
    background-color:transparent;
    border:0;
    width:100%;
}

 .deleteImageButton {
     position:absolute;
     visibility: hidden;
     width:20px;
     right:1.5%;
     top:2%;
 }

/* i cant
.addImageSrcPopupBeauty {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    bottom:-10px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
*/


.notes:hover .actions {
    visibility: visible;
}

.basic {
    background-color: #FFFAF0;
}

.yellow {
    background-color:rgb(253,255,141);
}

.orange {
    background-color:rgb(251,208,125)
}

.red {
    background-color:#FA8072
}

.blue {
    background-color:#87CEFA
}

.lightgreen {
    background-color:#90EE90
}

.pink {
    background-color:#FFB6C1
}

/*
.header {
    margin-bottom:.4rem;
    font-weight: bold;
    font-size:2rem;
    word-wrap:break-word;
    min-height:84px;
}
*/
@media (max-width: 768px) {

    .main {
        padding: 1.3rem;
    }

    .notes {
        padding: 1.3rem;
        width: 100%;
    }

}
