* {
    font-family: 'Roboto';
}

.main {
    padding: 3rem;
    width:80%;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap:wrap;
    margin: auto;
}

.priority, .normal {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.addNote {
    flex-direction:column;
    border-radius: 1px;
    min-height:16rem;
    width:16rem;
    box-shadow: 1px 2px 7px 1px #aaa;
    margin:1rem;
}

#addCommonNote, #addPriorNote {
    order:-500;
}

.applyButton {
    position:absolute;
    margin-left: -19px;
    margin-top: -19px;
    visibility:hidden;
    z-index:1;
}

.applyButton img{
    width:2.5rem;
    height:2.5rem;
}

textarea {
    resize: none;
    overflow: hidden;
}

.inputHeader {
    font-size:2rem;
    font-weight: bold;
    outline: none;
    border:0px;
    width:100%;
    background-color: rgb(232,232,231);
    max-height: 10rem;   
    min-height:80px 
}

.inputText {
    width:100%;
    outline: none;
    border:0px;
    background-color: rgb(232,232,231);
    height:7rem;
    font-size:1rem;
    max-height: 15rem;
    min-height:120px;
}

.notes {
    display:flex;
    flex-direction:column;
    border-radius: 1px;
    min-height:16rem;
    width:16rem;
    box-shadow: 1px 1px 2px #aaa;
    margin:1rem;
}

.image {
    max-height:8rem;
    min-height:8rem;
    overflow:hidden;
    background-size: contain
}

.image img {
    width:100%;
}

.groupHeader {
    margin:1rem;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom:0.5rem;
}

.contentOverlay {
    display:flex;
    flex-direction: column;
    padding:1.5rem;
}

.actions {
    visibility:hidden;
    margin-top: auto;
    align-self: flex-end;
}

.editButton img {
    min-height:3rem;
    max-height:3rem;
}

.notes:hover .actions {
    visibility: visible;
}

.yellow {
    background-color:rgb(253,255,141);
}

.orange {
    background-color:rgb(251,208,125)
}

.red {
    background-color:#FA8072
}

.blue {
    background-color:#87CEFA
}

.lightgreen {
    background-color:#90EE90
}

.pink {
    background-color:#FFB6C1
}

.header {
    margin-bottom:.4rem;
    font-weight: bold;
    font-size:2rem;
    word-wrap:break-word;
    min-height:84px;
}

@media (max-width: 768px) {

    .main {
        padding: 1.3rem;
    }

    .notes {
        padding: 1.3rem;
        width: 100%;
    }

}
